.logo img {
  width: 12rem;
  margin-top: 0.6000000000000001rem;
  margin-left: -1rem;
}

#mobile-menu {
  background-color: #f6f6f6;
}

nav {
  background-color: #ff5c53;
}

@media (min-width: 1024px) {
  .logo img {
    width: 20rem;
    margin-top: 0.6000000000000001rem;
    margin-left: -7rem;
  }
}

#small-text img {
  width: 1.7rem;
  margin-right: 1rem;
}

#small-text a {
  padding: 1.1rem;
  font-size: 1.2rem;
  border-radius: 0%;
  display: flex;
}

#info-tabs {
  margin-right: -5rem;
  font-size: 2rem;
}