.welcome{

    display: flex;
    // background-color: antiquewhite;
    margin-top: 1.5rem;
    // border-radius: 20px;
    padding: 0px 0px;
    border-radius: 38px;
    background: #FFF;
    box-shadow: 0px 4.400000095367432px 4px 0px rgba(211, 208, 208, 0.25);
    

    img{
        // left: 100%;
        // top:145%;
        margin-top: 0.6rem;
        margin-left: 1.5rem;
        
    }
    
    h2{
    font-size: 20px;
    margin-top: 1rem; 
    margin-right: .5rem;  
    }

   
}

.about-section{

    justify-content: center;

    img{
        width: 294px;
        height: 273px;
        flex-shrink: 0;
    }

    p{
        font-size: 26px;
    }
}

.btn{
    border-radius: 35px;
    background: #FF5C53;
    box-shadow: 0px 6px 4px 0px white(0, 0, 0, 0.25);
    // margin-bottom: 10rem;
    // text-align: right;
    width : 16rem;
    height: 45px;
    

    
    
}

.button{
    text-align: right;
    margin-right: 4rem;
}

.continue{
    color: white;
}


.about-section img{
    width: 10rem;
}

.hand{
    text-align: center;
}

.hand img{
    position: relative;
    left: 10.5rem;
    top: -1.9rem;
}

.welcome {
    border: solid 1px;
    border-color: black;
}


@media (max-width: 640px) {

  }
  
  // Example media query for medium screens
  @media (min-width: 641px) and (max-width: 768px) {
  
  }
  
  // Example media query for large screens
  @media (min-width: 769px) {
    .welcome {
        display: flex;
        margin-top: 1rem;
        padding: 1px 0px;
        border: solid red;
        width: 35rem;
        height: 4rem;
        margin-bottom: 4rem;
        border-radius: 38px;
        background: #FFF;
        box-shadow: 0px 4.4000000954px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .welcome  img {
        margin-top: 0.9rem;
        margin-left: 1rem;
        width: 2rem;
        height: 2rem;
      }
      
      .welcome   h2 {
        font-size: 20px;
        margin-top: 1rem;
        margin-right: 0.5rem;
      }
      
      
        .welcome{
          margin-left: 21.5rem;
          margin-top: 2rem;
        }


        .btn{
            border-radius: 35px;
            background: #FF5C53;
            box-shadow: 0px 6px 4px 0px white(0, 0, 0, 0.25);
            width: 23rem;
            height: 45px;
        }
        
        
        .button {
            text-align: right;
            margin-right: 34rem;
        }
      
  }