<app-navbar for="menu-toggle" class="hamburger-menu"></app-navbar>

<div class="bg-white py-0 sm:py-0" style="width: 100%;">
  <div class="mx-auto max-w-9xl">
    <div class="mx-auto relative" style="height: 35rem;">
      <!-- Tailwind CSS Carousel --><br><br>
      <div class="carousel" style="display: flex;">
        <!-- <h1>hi</h1> -->
        <button (click)="previousSlide()" >
          <img src="https://img.icons8.com/?size=90&id=Cz8juqGGkjSf&format=png">
        </button>
        <ng-container *ngFor="let slide of carouselSlides; let i = index" routerlink="/getstarted">
          <div class="carousel-item" [class.active]="i === activeSlideIndex">
            <div class="flex items-center h-full">
              <div class="w-1/2" routerlink="/getstarted">
                <img [src]="slide.image" alt="Slide {{ i + 1 }}" class="h-auto max-h-full mx-auto" >
              </div>
              <div class="w-1/2 p-6" id="sliides">
                <h2 class="text-base font-semibold leading-7 text-indigo-600">{{ slide.title }}</h2>
                <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ slide.subtitle }}</p>
                <br>
                <button style="background-color: #FF5C53; width: 100%; height: 2.5rem; font-size: 1rem; border-color: none; border: solid 1px; border-radius: 2rem; color: white;" (click)="getStarted()">{{ slide.description }} </button>
                <!-- <p class="mt-6 text-lg leading-8 text-gray-600">{{ slide.description }}</p> -->
              </div>
            </div>
          </div>
        </ng-container>
        <!-- <h1>hi</h1> -->
        <button (click)="nextSlide()" class="" >
       
          <img src="https://img.icons8.com/?size=60&id=47FN3wCcByf1&format=png">
        </button>
      </div>
      <br><br>
      <!-- End Tailwind CSS Carousel -->
      <!-- <button (click)="nextSlide()" class="absolute right-0 bottom-0 ">
       
        <img src="https://img.icons8.com/?size=60&id=47FN3wCcByf1&format=png">
        
      </button> -->
      <!-- <br><br>
      <button (click)="previousSlide()" >
        <img src="https://img.icons8.com/?size=50&id=9438&format=png">
      </button> -->
        <div class="mx-auto text-center" style="background-color: #FF5C53; height: 100%;">
             <div><br><br>

                <h3 class="subject">
        Become part of our learning community to connect with generational
        Wealth!
      </h3> 
      <p class="define">The Secure Legacy app will help you boost your financial 
        know-how and offer comprehensive education & guidance on creating  your generational wealth the simplified way.</p>
    </div> 
    <div class="slogan">
        <span class="slogan">
          FORGET THE PAST. SECURE THE FUTURE
        </span>
      </div>
        </div>
      
    </div>
  </div>
  