// *{
//     background-color: #F6F6F6;
//     height: 92vh;
// }

.rousel{
    height: 80%;
    // margin-left: 5rem;
}

.itemss img{
    width: 10rem;
    height: 10rem;
    // margin-left: 1rem;
}

.itemss{
    display: flex;
    margin-top: 3.4rem;
    width: 16.5rem;
    border: solid 1px;
    margin-left: 4rem;
}
#reg-btn{
  margin-top: -2.5rem;
  width: 32rem;
  height: 3rem;
  margin-left:30rem;
    border-radius: 22px;
    background: #FF5C53;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
button{
  font-size: 1.5rem;
}

    @media (max-width: 640px) {
        #reg-btn {
            justify-content: center;
            margin-top: 2.8rem;
            width: 16rem;
            height: 3rem;
            margin-left: 4rem;
            margin-bottom: -5rem;
          
            button{
              padding-top: 1rem;
              font-size: 1.3rem;
            }
        }

        footer {
          background-color: #FF5C53;
          text-align: left;
          margin-top: -18rem;
          position: inherit;
          height: 25rem;
          width: 100%;
          bottom: 0;
          p{
            word-spacing: 2px;
          }
      }

      }
    
    //   @media (max-width: 640px) {
    //     #reg-btn button {
            
    //     }
    //   }

      .text-sm{
        margin-top: -5px;
      }

      @media (max-width: 640px) {
        .cover-info h1{
           margin-top: 2.5rem;
           font-weight: bold;
           font-size: 1.1rem;
           margin-bottom: -1rem;
        }
      }
    
      footer{
        background-color: #FF5C53;
        text-align: center;
        margin-top: -17rem;
        position: inherit;
        height: 25rem;
        width: 100%;
        bottom: 0;
        
      }
      
      .subject{
        font-size: 25px;
        font-weight: bold;
        color: white;
        // margin-left:8rem ;
        // margin-right: 8rem;
        
      }
      
      .define{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 18px;
        color: white;
        // margin-left:10rem ;
        // margin-right: 10rem;
      }
      
      .slogan{
        font-style: italic;
        // font-size: larger;
        color: white;
        // margin-left:3rem ;
        // margin-right: 3rem;
      }
      
      .copyright-f{
        color: white;
      }

     

    //   @media (max-width: 640px) {
    //     #info-text h3{
    //      font-size: 1.3rem;
    //     }
    //   }
    
    
      
      @media (min-width: 1024px) {
        .rousel{
            height: 90%;
            
        }

        #reg-btn{
          margin-top: -7rem;
        }

        
        .itemss img{
            width: 35rem;
            height: 22rem;
            // margin-left: 1rem;
        }
        
        .itemss{
            display: flex;
            margin-top: 3.4rem;
            width: 80rem;
            border: solid 1px;
            margin-left: 4rem;
        }

        .cover-info h1{
            margin-top: 5.5rem;
            font-weight: bold;
            font-size: 1.1rem;
            margin-bottom: 2rem;
         }

         .ease-in-out{
          padding-top: 6rem;
        padding-bottom: 3rem;
        margin-left: 0rem;
        margin-top: -9rem;

          h1{
            font-size: 2.5rem;
            margin-top: 10rem;
          }
         }

         .md\:h-96 {
          height: 30rem;
      }
   

      }





      @media (max-width: 640px) {
        .carousel {
          margin-left: 0.5rem;
          
        }

        .w-1\/2 {
          width: 60%;
      }

      .w-1\/2 {
        width: 60%;
    }

    .text-3xl {
      font-size: 1.4rem;
      line-height: 2.25rem;
  }

  .mat-h2, .mat-title, .mat-typography .mat-h2, .mat-typography .mat-title, .mat-typography h2 {
    font: 500 13px/0px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

    #sliides{
      h2, p, button{
        font: 500 24px/31px Roboto, "Helvetica Neue", sans-serif;
        letter-spacing: normal;
        margin: 0 0 16px;
      }

    } 

      }
      
      // Example media query for medium screens
      @media (min-width: 641px) and (max-width: 768px) {
  
      }
      
      // Example media query for large screens
      @media (min-width: 769px) {
        .carousel {
          width: 90%;
          overflow: hidden;
          margin-left: 3rem;
          
        }
        
        .carousel-item {
          display: none;
        }
        
        .carousel-item.active {
          display: block;
        }
      }




      .carousel {
        width: 90%;
        overflow: hidden;
        
      }
      
      .carousel-item {
        display: none;
      }
      
      .carousel-item.active {
        display: block;
      }

