<div
  class="bg-white"
  style="height: 110vh; background-color: #f6f6f6"
  id="contain"
>
  <div class="mx-auto max-w-7xl py-24 lg:px-8" id="small-sty">
    <div
      class="relative isolate overflow-hidden bg-slate-200 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0 flex flex-col-reverse lg:flex-row"
    >
      <div class="move">
        <div
          class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-center"
          id="info-text"
        >
          <h3 class="text-3xl font-bold tracking-tight text-black sm:text-4xl">
            Get ready to better your financial future and learn to create a
            legacy that will have you saying
          </h3>
          <h3 class="font-bold text-3xl">"Sho, I did that!"</h3>
          <p class="mt-6 text-lg leading-8 text-black">
            Please login or create your profile to get tailored recommendations
          </p>
          <div
            class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start"
            id="start"
          >
            <a
              id="log-back"
              class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
              routerLink="/login"
              >Login</a
            >
            <a
              class="text-sm font-semibold leading-6 text-black"
              routerLink="/register"
              style="font-size: large"
              >Register</a
            >
          </div>
        </div>
      </div>
      <div
        class="relative mt-16 h-80 lg:mt-8 lg:ml-16 lg:w-80"
        id="image-start"
      >
        <img
          src="https://cdn.discordapp.com/attachments/611261678147076159/1132959971202568342/Screenshot_2023-07-24_at_10.56.14-fotor-bg-remover-20230724105746.png"
        />
      </div>
      <div class="circle circle-top-right"></div>
      <div class="circle circle-bottom-left"></div>
    </div>
  </div>
</div>
