#device-bg {
  background-color: #f6f6f6;
}

@media (max-width: 640px) {
  #frm-cont {
    background-color: #f6f6f6;
    border: none;
    height: 92vh;
  }
  #frm {
    margin-top: 4rem;
  }

  #namesfrm input {
    width: 9rem;
  }

  #reg-btn {
    margin-left: 70px;
    margin-top: 1.5rem;
    width: 10rem;
    height: 2.8rem;
  }

  #google-btn {
    width: 15rem;
    height: 2rem;
    margin-left: 30px;
  }

  #logo {
    justify-content: center;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
  }
}

#google-btn {
  border-radius: 20px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0);
  height: 2rem;
  width: 15rem;
  margin-left: 4.7rem;
  margin-top: 6px;
}

#frm input {
  background-color: white;
  border-style: solid;
  border-radius: 1rem;
}
#reg-btn {
  border-radius: 25px;
  background: #ff5c53;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#google-btn img {
  position: relative;
  top: -0.22rem;
}

#google-btn h3 {
  position: relative;
  top: -1.5rem;
}

.alert {
  color: red;
}

#logo {
  justify-content: center;
}

.welcome {
  h1 {
    text-align: center;
    font-size: 1.7rem;
  }
}

.success-snackbar {
  background-color: #ff5c53; /* Success color */
  color: white;
  margin-top: 10rem;
}

.error-snackbar {
  background-color: #ff5252; /* Error color */
  color: white;
}

