
.btn{
    border-radius: 45px;
    background: #FF5C53;
    box-shadow: 0px 6px 4px 0px white(0, 0, 0, 0.25);
   font-weight: bold;
    // margin-bottom: 10rem;
    // text-align: right;
    width : 100%;
    height: 45px;
    margin-bottom: 0%;
    
}

.continue{
    color: white;
}


.about-section img{
    width: 10rem;
}
  
  .welcome{

    display: flex;
    // background-color: antiquewhite;
    margin-top: 1rem;
    // border-radius: 20px;
    padding: 1px 0px;
    border-radius: 38px;
    background: #FFF;
    box-shadow: 0px 4.400000095367432px 4px 0px rgba(0, 0, 0, 0.25);

    img{
        // left: 100%;
        // top:145%;
        margin-top: 2rem;
        margin-left: 2rem;
        
    }
    
    h2{
    font-size: 20px;
    margin-top: 2rem; 
    margin-right: .5rem;  
    }
}


@media (max-width: 640px) {
    .max-w-xl {
      max-width: 100%;
    }
    .md\:max-w-4xl {
      max-width: 100%;
    }
    .grid {
      grid-template-columns: 1fr;
    }
  }

 // Medium screens ...
 @media (min-width: 641px) and (max-width: 1024px) {
    .max-w-xl {
      max-width: 100%;
    }
    .md\:max-w-4xl {
      max-width: 100%;
    }
    .grid {
      grid-template-columns: 1fr;
    }
  }


nav{
  background-color: #FF5C53;
}

.profile{
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-size: large;

}

.welcome img {
    margin-top: 2rem;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

#profile-nav img{
    margin-top: 1rem;
    color: white;
   
}

#profile-nav {
    display: flex;
}

#profile-nav h1 {
    text-align: center;
    margin-top: 1rem;
    margin-left: 7rem;
    font-size: 1.5rem;

}

.py-12 {
  padding-top: 0rem;
  padding-bottom: 3rem;
}

.block {
  display: table-header-group;
}

.flx{
  display: flex;
  justify-content: space-between;
}



// Example media query for small screens
@media (max-width: 640px) {
 
}

// Example media query for medium screens
@media (min-width: 641px) and (max-width: 768px) {
 
}

// Example media query for large screens
@media (min-width: 769px) {
  .welcome {
    display: flex;
    margin-top: 1rem;
    padding: 1px 0px;
    border: solid red;
    width: 35rem;
    height: 4rem;
    margin-bottom: 4rem;
    border-radius: 38px;
    background: #FFF;
    box-shadow: 0px 4.4000000954px 4px 0px rgba(0, 0, 0, 0.25);
}

.welcome  img {
  margin-top: 0.9rem;
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
}

.welcome   h2 {
  font-size: 20px;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.antialiased{
  .welcome{
    margin-left: 10rem;
    margin-top: 2rem;
  }
}

.btn{
  margin-left: 13rem;
  margin-top: 2rem;
}
.occu{
  margin-top: 2.35rem;
  input{
    width: 27rem;
  }
 
}

#profile-nav  h1 {
  text-align: center;
  margin-top: 1rem;
  margin-left: 29rem;
  font-size: 1.5rem;
}

}